In [1]:
# string is a sequence of characters.we use single ,double quotes to represent a string
str1= 'python'
str2="pyhton"
str3="""python"""
print(str1)
print(str2)
print(str3)

python
pyhton
python

In [2]:
# string operations
# concatenaton
str1="Hello "
str2=" World"
result=str1+str2
print(result)

Hello  World

In [3]:
# repetition
str= "python "
result= str*7
print(result)

python python python python python python python

In [5]:
# indexing
str="python"
print(str[3])
print(str[-2])

h
o

In [9]:
#slicing
str ="python is fun"
print(str[1:7])
print(str[-8:-2])

ython
n is f

In [10]:
#format string
#python 1
name="sai"
age=30
formatted_str= " my name is %s snd iam %d years old." %(name,age)
print(formatted_str)

 my name is sai snd iam 30 years old.

In [12]:
# python 2
name="sai"
age=30
formatted_str= " my name is {} snd iam {} years old.".format(name,age)
print(formatted_str)

 my name is sai snd iam 30 years old.

In [13]:
# python 3
name="sai"
age=30
formatted_str= f" my name is {name} snd iam {age} years old."
print(formatted_str)

 my name is sai snd iam 30 years old.

In [14]:
#string methods
# len()
str="python"
print(len(str))

6

In [15]:
# lower()  / upper()
str ="python"
print(str.upper())

PYTHON

In [16]:
str="PYTHON"
print(str.lower())

python

In [17]:
# strip()
str="  python  "
print(str.strip())

python

In [32]:
# replace()
g="hi Good"
h=g.replace("hi", "Hello")
print(h)

Hello Good

In [36]:
#split()
my_string="python is fun"
words=my_string.split()
print(words)

['python', 'is', 'fun']

In [45]:
#join()
words=["python"," is"," fun"]
joined_str='' .join(words)  
print(joined_str)

python is fun

In [3]:
# capitalize()
my_string=("python is fun")
a=my_string.capitalize()       # upper case in first letter
print(a)

Python is fun

In [5]:
# casefold()
my_string=("PYTHON IS FUN")
a=my_string.casefold()            # make the string lower case
print(a)

python is fun

In [8]:
# center()
str =("python")
x=str.center(30)           # print the word python,taking up the space of 30 chracters,with "python " inthe middle
print(x)

            python

In [10]:
#encode()
str = "chandra shekhar"
x=str.encode()
print(x)

b'chandra s^hekhar'

In [5]:
#endswith()
str= "python is fun."
x=str.endswith(".")
print(x)

True

In [16]:
#expndtabs()
str= "H\te\tl\tl\to"
x=str.expandtabs(10)
print(x)

H         e         l         l         o

In [19]:
 #find()
str= "python is fun"
x=str.find("f")
print(x)

10

In [21]:
#format()
str="for only{price:.2f} rupees!"
print(str.format(price=29))

for only29.00 rupees!

In [23]:
#title
str= "python is fun."
x=str.title()
print(x)          #make the first letter in each word upper case

Python Is Fun.

In [24]:
#swapcase()
str= "Python Is Fun"     # make the lower case letters upper case and uppper case 
x=str.swapcase()
print(x)

pYTHON iS fUN